<div class="container top-buffer main-wrapper">
    <div class="row">
        <div class="col-xs-12 top-buffer ">
                <h3>Problem Statement:</h3>
                <h5>Wikipedia says, “Sachin Tendulkar is a former Indian cricketer, widely regarded to be the greatest cricketer of all time.” </h5>
                  <h5>Use data on Sachin’s entire career
                    to prove or disprove the given statement.</h5>
                <h6>Let's put some reasoning to this statement and let the man's records speak for itself</h6>
        </div>
        <personal-info></personal-info>
        <career-stats item="stats"></career-stats>
        <century-stats item="stats.allCenturies"></century-stats>
        <runs-stats item="stats.allInnings"></runs-stats>
        <draw-conclusion></draw-conclusion>
        <div align="center">
          <img class="img-responsive" src="/images/sachin2.png" />
          <h5>Beneath the helmet, under that unruly curly hair, inside the cranium,
            there is something we don't know, something beyond scientific measure.
            Something that allows him to soar, to roam a territory of sport that,
            forget us, even those who are gifted enough to play alongside him cannot
             even fathom. When he goes out to bat, people switch on their television
             sets and switch off their lives- <strong>BBC Sports, on Sachin Tendulkar.</strong></h5>
        </div>
        <p style="text-align:right">Built with <span style="color:red;">&hearts;</span> for my childhood superhero</p>
    </div>
</div>
