<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-12 top-buffer ">
                <h3>Problem Statement:</h3>
                <h5>As per Wikipedia "Sachin Tendulkar is widely regarded to be the greatest cricketer of all time.”</h5>
                <h6>Let's put some reasoning to this fact and let the man's records speak for itself</h6>
                <div align="center">
                  <img src="/images/sachin.jpg" />
                </div>
        </div>
        <div class="col-xs-12 personal-info-card">
            <p>Personal Information as per wikipedia</p>
            <div class="col-xs-3 no-padding">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Sachin_Tendulkar_at_MRF_Promotion_Event.jpg" height="220"/>
            </div>
            <div class="col-xs-9">
              <h5><span class="bold">Full Name: </span>Sachin Ramesh Tendulkar</h5>
              <h5><span class="bold">Born: </span>24 April 1973 (age 43)Bombay (now Mumbai), Maharashtra, India</h5>
              <h5><span class="bold">Nickname: </span>Tendlya, Little Master,Master Blaster</h5>
              <h5><span class="bold">Height: </span>5 ft 5 in (165 cm)</h5>
              <h5><span class="bold">Batting Style: </span>Right-Handed</h5>
              <h5><span class="bold">Bowling Style: </span>Right-arm medium, leg break, off break</h5>
              <h5><span class="bold">Role: </span>Batsman</h5>
              <h5><span class="bold">Relations: </span>Wife: Anjali Tendulkar (m. 1995)
              Daughter: Sara Tendulkar (b. 1997)
              Son: Arjun Tendulkar (b. 1999)</h5>

            </div>
        </div>
    </div>
</div>
