<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-12 top-buffer ">
                <h3>Problem Statement:</h3>
                <h5>As per Wikipedia "Sachin Tendulkar is widely regarded to be the greatest cricketer of all time.”</h5>
                <h6>Let's put some reasoning to this statement and let the man's records speak for itself</h6>
                <div align="center">
                  <img src="/images/sachin2.png" />
                </div>
        </div>
        <personal-info></personal-info>
        <career-stats item="stats"></career-stats>
    </div>
    <div id="myPieChart"/>
</div>
