<div class="col-xs-12 personal-info-card top-buffer">
  <h1>Career Stats</h1>
  <div class="col-md-3 stats">
    <h4>Total Matches:</h4>
    <h4>{{stats.totalMatches}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Total Innings:</h4>
    <h4>{{stats.totalInnings}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Total Runs:</h4>
    <h4>{{stats.totalRuns}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Notouts</h4>
    <h4>{{stats.notOuts}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Centuries:</h4>
    <h4>{{stats.centuriesScored}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Half Centuries:</h4>
    <h4>{{stats.halfCenturiesScored}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Highest Score: </h4>
    <h4>{{stats.highestScore}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Batting Average: </h4>
    <h4>{{stats.battingAverage}}</h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Bowling Average: </h4>
    <h4>{{stats.bowlingAverage}}</h3>
  </div>

  <div class="col-md-3 stats">
    <h4>Wickets Taken: </h4>
    <h4>{{stats.wicketsTaken}} </h3>
  </div>
  <div class="col-md-3 stats">
    <h4>Catches Taken: </h4>
    <h4>{{stats.catches}}</h3>
  </div>
</div>
