<div class="col-xs-12 card top-buffer">
    <h2 class="card-heading">Career Stats</h2>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Total Matches</h4>
        <p class="stat-value">{{stats.totalMatches}}</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Total Innings</h4>
        <p class="stat-value">{{stats.totalInnings}}</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Total Runs</h4>
        <p class="stat-value">{{stats.totalRuns}}</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Notouts</h4>
        <p class="stat-value">{{stats.notOuts}}</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Centuries</h4>
        <p class="stat-value">{{stats.centuriesScored}}</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Half Centuries</h4>
        <p class="stat-value">{{stats.halfCenturiesScored}}</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Highest Score</h4>
        <p class="stat-value">{{stats.highestScore}}*</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Batting Average</h4>
        <p class="stat-value">{{stats.battingAverage}}</p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Bowling Average</h4>
        <p class="stat-value">{{stats.bowlingAverage}}</p>
    </div>

    <div class="col-md-3 stats">
        <h4 class="stats-header">Wickets Taken</h4>
        <p class="stat-value">{{stats.wicketsTaken}} </p>
    </div>
    <div class="col-md-3 stats">
        <h4 class="stats-header">Catches Taken</h4>
        <p class="stat-value">{{stats.catches}}</p>
    </div>
</div>
