<div class="col-xs-12 personal-info-card top-buffer">
  <h1>Career Stats</h1>
  <h3>Total Matches: {{stats.totalMatches}}</h3>
  <h3>Total Innings: {{stats.totalInnings}}</h3>
  <h3>Total Runs: {{stats.totalRuns}}</h3>
  <h3>Half Centuries: {{stats.halfCenturiesScored}}</h3>
  <h3>Centuries: {{stats.centuriesScored}}</h3>
  <h3>Highest Score: {{stats.highestScore}}</h3>
  <h3>Not Outs: {{stats.notOuts}}</h3>
  <h3>Batting Average: {{stats.battingAverage}}</h3>
  <h3>Bowling Average: {{stats.bowlingAverage}}</h3>
  <h3>Wickets Taken: {{stats.wicketsTaken}}</h3>
  <h3>Catches Taken: {{stats.catches}}</h3>

</div>
