<div class="col-xs-12 personal-info-card top-buffer">
  <h1>Analysis of centuries</h1>
  <div class="col-xs-12">
    <h3>All Centuries</h3>
    <canvas tc-chartjs-bar chart-options="baroptions" chart-data="bardata" auto-legend></canvas>
    <h5>Winning Ratio</h5>
    <h6>Centuries while winning / Total Centuries = 33 / 49 = {{winningRatio}}</h6>
    <p>That is almost every 7 out of 10 centuries contributed to India's Victory</p>
  </div>
  <div class="col-xs-12 col-md-4">
    <h3>Centuries and the result</h3>
    <canvas tc-chartjs-doughnut chart-options="options" chart-data="resources" auto-legend></canvas>
  </div>
</div>
