<div class="col-xs-12 card top-buffer conclusion-card">
    <h2 class="card-heading">Conclusion</h2>
    <p>In the above charts we can see how Sachin Tendulkar, achieved remarkable feats
      throughout his long spanning carrer. He played extremely well in the both innings
       of the game, scored runs against the best teams in the world, scored centuries when his
        team needed him, scored consistently and even performed fair enough with the ball </p>
    <h4>So after analyzing all this we can say that <span class="conclusion">"He is the greatest cricketer of all time"</span></h4>
</div>
