<div class="col-xs-12 top-buffer card">
    <p>Personal Information as per wikipedia</p>
    <div class="col-xs-12 col-md-3 no-padding">
        <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/2/25/Sachin_Tendulkar_at_MRF_Promotion_Event.jpg" />
    </div>
    <div class="col-xs-12 col-md-9">
        <h5><span class="bold">Full Name: </span>Sachin Ramesh Tendulkar</h5>
        <h5><span class="bold">Born: </span>24 April 1973 (age 43)Bombay (now Mumbai), Maharashtra, India</h5>
        <h5><span class="bold">Nickname: </span>Tendlya, Little Master,Master Blaster</h5>
        <h5><span class="bold">Height: </span>5 ft 5 in (165 cm)</h5>
        <h5><span class="bold">Batting Style: </span>Right-Handed</h5>
        <h5><span class="bold">Bowling Style: </span>Right-arm medium, leg break, off break</h5>
        <h5><span class="bold">Role: </span>Batsman</h5>
        <h5><span class="bold">Relations: </span>Wife: Anjali Tendulkar (m. 1995)
      Daughter: Sara Tendulkar (b. 1997)
      Son: Arjun Tendulkar (b. 1999)</h5>
    </div>
</div>
