<div class="col-xs-12 personal-info-card top-buffer">
  <h1>Analysis of runs scored</h1>
  <div class="col-xs-12">
    <h3>Runs over the years</h3>
    <canvas tc-chartjs-bar chart-options="yearBaroptions" chart-data="yearBardata"></canvas>
    <h4>More than a thousand runs in a calendar year</h4>
    <h6>We can see that sachin scored more than a thousand runs 7 times in his career</h6>
  </div>
  <div class="col-xs-12">
    <h3>Runs against teams</h3>
    <canvas tc-chartjs-bar chart-options="teamBaroptions" chart-data="teamBardata"></canvas>
    <h4>He scored most of his runs against the top cricketing nations</h4>
  </div>
  <div class="col-xs-12 col-md-6">
    <h3>Runs in the innings</h3>
    <canvas tc-chartjs-doughnut chart-options="inniningsRunsoptions" chart-data="inniningsRunsresources"></canvas>
    <h4>Be it setting a target or chasing one, he was always good</h4>
  </div>
  <div class="col-xs-12 col-md-6">
    <h3>Average in the innings</h3>
    <canvas tc-chartjs-pie chart-options="averageOptions" chart-data="averageData"></canvas>
    <h4>He averaged above 40 in both the innings</h4>
  </div>
</div>
